# dependencies
/node_modules
/.pnp
.pnp.js

# production build
/build

# Firebase cache and local emulators
.firebase/
firebase-debug.log

# dotenv environment variables (if used)
.env
.env.local
.env.development
.env.production
.env.*.local

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: ignore IDE configs
.idea/
*.sublime-project
*.sublime-workspace
